<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript>
        <link rel="stylesheet" href="assets/css/noscript.css" />
    </noscript>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Result</title>
</head>
<body>
<!-- Wrapper -->
<section id="banner">
    <div class="inner">
        <div class="logo"><span class="icon fa-gem"></span></div>
        <h2>以下是分析結果</h2>
    </div>
</section>

<!-- Wrapper -->
<section id="wrapper">

    <!-- Four -->
    <section id="four" class="wrapper alt style1">
        <div class="inner">
            <h2 class="major">台中景點分析結果</h2>
            <section class="features">
                <article>
                    <a href="#" class="image"><img src="images/1.jpg" alt="" /></a>
                    <h3 class="major">彩虹村</h3>
                    <p>彩虹村位於臺中市南屯區春安路56巷，經知名旅遊雜誌孤獨星球選為「世界的祕密奇跡」景點，村內可免費彩繪自創祈福卡，成為彩虹村共創藝術家，嶄現彩虹村素樸藝術的新生命!</p>
                </article>
                <article>
                    <a href="#" class="image"><img src="images/2.jpg" alt="" /></a>
                    <h3 class="major">動漫彩繪村</h3>
                    <p>「動漫彩繪村」的發跡來自於一片海賊王的彩繪，由於畫風極致細膩、逼真，許多原作情節歷歷在目，馬上在台中打響了知名度。很難相信的是，彩繪的作者竟是機車行老闆，初衷只是「不想讓牆壁空空的」，身為動漫迷的他便開始著手彩繪！</p>
                </article>
                <article>
                    <a href="#" class="image"><img src="images/3.jpg" alt="" /></a>
                    <h3 class="major">秋紅谷</h3>
                    <p>來到臺灣大道二段、朝富路口，就能看到被稱之為「都市之肺」的秋紅谷廣場，投身於秋紅的懷抱，彷佛瞬間從車來人往的繁華都市，進入一個寧靜悠閒的都市森林中，倍感清新宜人。漫步於特殊的凹型廣場內，踩著以木屑鋪成的步道，柔軟舒適，還能聞到淡淡地木頭香，一旁清澈的湖水、翠綠的青苔，跳動的小魚兒，讓人心情雀躍起來，週邊種植朱蕉、垂柳、無患子、黃連木等植物，更兼具育教娛樂的功能。
                    </p>
                </article>
                <article>
                    <a href="#" class="image"><img src="images/4.jpg" alt="" /></a>
                    <h3 class="major">湖心亭</h3>
                    <p>湖心亭所在地為日治明治36年（1903）開園之「臺中公園」，園內原有自然水塘，經人工整修後成池。明治41年（1908）10月為慶祝縱貫鐵路全線通車典禮，於池中建亭，來臺主持通車式的日本閑院宮載仁親王曾於此亭休憩、觀看表演。</p>
                </article>
            </section>
            <ul class="actions">
                <li><a href="#" class="button">Browse All</a></li>
            </ul>
        </div>
    </section>

</section>

<!-- Footer -->




<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>